.needsSpendingBox {
	margin: 0 29px;
	
	.possibleSpendingDropdownClicker {
		overflow: hidden;
	}
}
.possibleSpendingDropdownContent {
	max-width: 250px
}

.possibleSpendingEntry a {
	height: var(--btnSize);
}

.needsSpendingEntry {
	width: 150px;
	min-width:150px;
	height: 150px;
	overflow: hidden;
	margin: 5px;
	
	.spendingHeader {
		font-weight: bold;
		font-size: x-large;
		padding: 10px;
	}
}

@media (width <= 800px) {
	.page.Dashboard .listWidget {
		width: 90vw;
	}
}
@media (width > 800px) {
	.page.Dashboard .listWidget {
		width: 45vw;
	}
}
.spendingEntry {
	overflow: hidden;
	text-overflow: ellipsis;
}

.page.Dashboard .listWidget {
	max-width: 90vw;
}
