.needsDonationBox {
	margin: 0 29px;
	
	.donationDropdownClicker {
		overflow: hidden;
	}
	.chooseDonationBtn {
		margin-right: -29px;
	}
	.chooseDonationBtn:first-child {
		margin-right: 0;
	}
}
.donationDropdownContent {
	max-width: 250px
}

.needsDonationEntry {
	width: 150px;
	min-width:150px;
	height: 150px;
	overflow: hidden;
	margin: 5px;
	
	.donationHeader {
		font-weight: bold;
		font-size: x-large;
		padding: 10px;
	}
}

@media (width <= 800px) {
	.page.Dashboard .listWidget {
		width: 90vw;
	}
}
@media (width > 800px) {
	.page.Dashboard .listWidget {
		width: 45vw;
	}
}
.donationEntry {
	overflow: hidden;
	text-overflow: ellipsis;
}

.page.Dashboard .listWidget {
	max-width: 90vw;
}
