.needsDonationBox {
	margin: 0 29px;
	
	.donationDropdownClicker {
		overflow: hidden;
	}
	.chooseDonationBtn {
		margin-right: -29px;
	}
}
.donationDropdownContent {
	max-width: 250px
}

.needsDonationEntry {
	width: 150px;
	min-width:150px;
	height: 150px;
	overflow: hidden;
	margin: 5px;
	
	.donationHeader {
		font-weight: bold;
		font-size: x-large;
		padding: 10px;
	}
}

.donationEntry {
	overflow: hidden;
	text-overflow: ellipsis;
}

.page.Dashboard .listWidget {
	min-width: 40vw;
	max-width: 100vw;
}
