.page.Payments {
	.listWidget {
		width: 700px;
		max-width: 75vw;
		overflow-y: auto;
		
		.content {
			display: table;
			
			.entry {
				display: table-row;
				
				td {
					padding: 5px;
					vertical-align: middle;
					border-top: 1px solid var(--color-surface-border);
				}
				
				td.textLeft {
					text-align: left;
				}
			}
		}
	}
}
